<!-- <section id = "header">
        <div class ="container - fluid">
            <nav class = "navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#"><img src="logo.png" style="width:50px"></a>

                <div class = "container"> -->
                <!--	<a href="#" class="navbar-brand"> CMS HEXAWARE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls ="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class ="navbar-toggler-icon"></span>
                    </button>-->
                    <!-- <div class="collapse navbar-collapse" id ="navbarSupportedContent">
                    <ul class ="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="admin.html" class="nav-link"> Home</a>
                        </li> -->
                        <!--<li class="nav-item">
                            <a href="addordel.html" class="nav-link"> Add/Delte Vendors</a>
                        </li>-->
                        <!-- <li class="nav-item">
                            <a href="login.html" class="nav-link"> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section> -->
<!-- <section class = "main">
    <div class="container">
        <div class ="row">
            <div class="col-sm-6"> -->
                <!--<div class="main">
    <div class="removing">-->
    <!-- <form #AddordelForm="ngForm">
        <label class="vendornameforremoving"> Vendorname:  </label>
        <select id="colorSelect" >
            <option value="" disabled selected>Select your option</option>
            <option>SaravanaBhavan</option>
            <option>RatnaCafe</option>
            <option>AnandaBhavan</option>
            <option>TOI</option>
        </select>
        <input type="button" onclick="removecolor()" value="Remove">
    </form> -->
    <!--</div>	-->
        
      <!--  <div class="adding">-->
        <!-- <label class="vendorname"> Vendorname:  </label>	
        <input type="text" name="vend" id="vend">	
        <input type="button" onclick="addcolor()" value=" AddNow"> -->
        <!--</div>-->
    <!--</div>-->
      <!-- </form> -->

            <!-- </div>
        </div>
    </div>
</section> -->

<!-- Footer -->

<!-- <footer id="sticky-footer" class="py-4 text-white-50">
<div class="container ">
  <div class = "d-flex flex-column justify-content-center align-items-center p-1">
   <div class="col-lg-1 col-md-8 mb-2"> -->
 <!--  <div class="view overlay z-depth-1-half">-->
  <!-- <img src="logo.png" class="img-fluid"
        alt="">
        <a href="">
           <div class="mask rgba-white-light"></div>
      </a>
    </div>
  <small>&copy;2019 AAR</small>
</div>
</div>
</footer> -->
<!-- Footer -->
<div class= "container-fluid h-100">
        <div class = "d-flex flex-column justify-content-center h-100 align-items-center  p-4 ">
            <h1 class= "company-name">LOGIN</h1>
            <form  (ngSubmit)="onSubmit()" #addordelForm="ngForm">
                  <div class="form-group">
                      <label for="username">Vendorname</label> 
                         <select class="form-control" id="menulist"
                          required
                          minlength="4"
                         [(ngModel)]="menulist" name="menulist"
                          #menu="ngModel" >
                          <option *ngFor="let p of menulist" [value]="p" >{{p}} </option>
                        
                          </select>
                          </div>

                          <button type="submit"  (click)="deletecontact()" class="btn btn-success">Remove </button>
                        </form>

                      <!-- <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">  -->
                        
                         
    
</div>
</div>
