
  <div class="container">
    
        <div class="col-lg-10 mx-auto col-12 text-center mb-3">
            <h1 class="hh mt-0 text-primary">Our Menu</h1>
            <p class="hh lead">Begin with a selection from our award winning beverage menu or choose a wine from our extensive wine list. Our wine list features over 100 different vintages and has received the chamber of commerce award of excellence.</p>
        </div>
        <div><p>
            <button type="button" class="btn btn-outline-primary" (click)="AmericanCollapsed = !AmericanCollapsed"
                    [attr.aria-expanded]="!AmericanCollapsed" aria-controls="collapseExample">
              American Menu
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="AmericanCollapsed">
            <div class="row">
            <div class="col-md-4" *ngFor="let n of americanVendors">
                <div class="card mb-4 box-shadow">


                    <div class="card-body">
                            <div class="hovereffect">
                                    <img class="img-responsive" style="width:100%" src="assets/images/American.jpg" alt="">
                                    <div class="overlay">
                                       
                                       <a class="info" routerLink="./american-vendor">Place Order</a>
                                    </div>
                                </div>
                        <p class="card-text">{{n.name}}<span
                                style="float: right">${{n.price}}</span>
                        </p>

                        <!-- <div class="d-flex justify-content-between align-items-center">
                        
                            <button type="button" class="btn btn-sm btn-outline-warning" title="Edit Menu Item"
                                (click)="edit(n)">
                                Order Place</button>
                                                                   
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
       </div>

    <p>
        <button type="button" class="btn btn-outline-primary" (click)="IndianCollapsed = !IndianCollapsed"
                [attr.aria-expanded]="!IndianCollapsed" aria-controls="collapseExample">
          Indian Menu
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="IndianCollapsed">
        <div class="row">
     
        <!--indian-->
        <div class="col-md-4" *ngFor="let n of indianVendors">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p class="card-text">{{n.name}}<span
                            style="float: right">${{n.price}}</span>
                    </p>

                    <div class="d-flex justify-content-between align-items-center">
                        
                        <button type="button" class="btn btn-sm btn-outline-warning" title="Edit Menu Item"
                            (click)="edit(n)">
                            Order Place</button>
                                                               
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        <!--INDIAN-->
    
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="MexicanCollapsed = !MexicanCollapsed"
                    [attr.aria-expanded]="!MexicanCollapsed" aria-controls="collapseExample">
              Mexican Menu
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="MexicanCollapsed">
            <div class="row">
         
        <!--MEXICAN-->

        <div class="col-md-4" *ngFor="let n of mexicanVendors">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p class="card-text">{{n.name}}<span
                            style="float: right">${{n.price}}</span>
                    </p>

                    <div class="d-flex justify-content-between align-items-center">
                        
                        <button type="button" class="btn btn-sm btn-outline-warning" title="Edit Menu Item"
                            (click)="edit(n)">
                            Order Place</button>
                                                               
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--MEXICAN-->
        </div>

    </div>


