* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  
  }
  
  .hh
  {
    font-family: 'Lobster', cursive;
  }
  
  #sticky-footer {
    background :rgb(0,0,0);
  flex-shrink: none;
  
}


.navbar-brand{

	font-weight: 600;
	font-size: 1.5em;

}

.navbar-dark .navbar-brand{

	color:#dcdde1;


}

.nav-item{

	font-weight: 600;
	text-transform: uppercase;
	padding-left: 10px;

}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
      
      background: #dcdde1;
      color: #262626;
   
   }
