<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" style="width:50px"></a>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="">Log Out</button>
    </li>
    <li class="nav-item">
          <a class="nav-link" routerLink="/request">Requests <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aprofile">Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/aprofile">History <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#myModal">Add <span class="sr-only">(current)</span></a>
            </li>
           
    <li class="nav-item">
      <a class="nav-link" routerLink="#">About us <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
          
          <div class="container">
                <div class="row">
                    
                        <div class="card">
                            <div class="card-body">
                                <img src="assets\images\David-profile.jpg"alt="David" style="width:45%">
                                <table>
                                  <br>
                                  <tr>
                                    <td align=left><b>Name:</b></td>
                                    <td align=left>{{americanprofile.name}}</td>
                                  </tr>
                                  <br>
                                  <tr>
                                    <td align=left><b>Address:</b></td>
                                    <td align=left>{{americanprofile.address}}</td>
                                  </tr>
                                  <br>
                                  <tr>
                                      <td align=left><b>Email Id:</b></td>
                                      <td align=left>{{americanprofile.emailid}}</td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td align=left><b>Contact No:</b></td>
                                        <td align=left>{{americanprofile.contact}}</td>
                                      </tr>
                                      <br>
                                      <tr>
                                          <td align=left><b>Wallet Balance:</b></td>
                                          <td align=left>{{americanprofile.balance}}</td>
                                        </tr>
                                        <br>
                                </table>
                              </div>
                           </div> 
            </div>
                </div>
          
        
    