
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<div class="jumbotron text-center">
  <h1 class="hh" style="font-size:4rem">FOOD STOP</h1>
  <p class="hh" style="font-size:3rem">Beyond the boundaries of taste</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-12" style="padding-left: 20px; padding-right: 10px; padding-bottom:10px;">
      <div >
        <div class="hovereffect">
            <img class="img-responsive" style="width:100%" src="assets/images/Indian.jpg" alt="">
            <div class="overlay">
               <h2 class="hh">Indian</h2>
               <a class="info" href="IndianMenu.html">Visit</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-xs-12" style="padding-left: 10px; padding-right: 10px; padding-bottom:10px;">
<div >
    <div class="hovereffect">
        <img class="img-responsive" style="width:100%" src="assets/images/American.jpg" alt="">
        <div class="overlay">
           <h2 class="hh">American</h2>
           <a class="info" href="AmericanMenu.html">Visit</a>
        </div>
    </div>
</div>
</div>
<div class="col-sm-4 col-xs-12" style="padding-left: 10px; padding-right: 20px; padding-bottom:10px;">
  <div >
    <div class="hovereffect">
        <img class="img-responsive" style="width:100%" src="assets/images/chinese.jpg" alt="">
        <div class="overlay">
           <h2 class="hh">Chinese</h2>
           <a class="info" href="ChineseMenu.html">Visit</a>
        </div>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-sm-4 col-xs-12" style="padding-left: 20px; padding-right: 10px; padding-top:10px;">
  <div >
      <div class="hovereffect">
          <img class="img-responsive" style="width:100%" src="assets/images/Italian.jpg" alt="">
          <div class="overlay">
             <h2 class="hh">Italian</h2>
             <a class="info" href="ItalianMenu.html">Visit</a>
          </div>
      </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12" style="padding-left: 10px; padding-right: 10px; padding-top:10px;">
  <div >
        <div class="hovereffect">
            <img class="img-responsive" style="width:100%" src="assets/images/Mediterranean.jpg" alt="">
            <div class="overlay">
               <h2 class="hh">Mediterranean</h2>
               <a class="info" href="MediterraneanMenu.html">Visit</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-xs-12" style="padding-left: 10px; padding-right: 20px; padding-top:10px;">
  <div >
        <div class="hovereffect">
            <img class="img-responsive" style="width:100%" src="assets/images/mexican.jpg" alt="">
            <div class="overlay">
               <h2 class="hh">Mexican</h2>
               <a class="info" href="MexicanMenu.html">Visit</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

